modules = ["nodejs-20"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Serve Web App"
author = 43591252
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -p 5000 -s"

[[workflows.workflow]]
name = "Run Server"
author = 43591252
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44925
externalPort = 3000
